@import 'variables';

/* Footer */

footer {
    background-color: $headerColour;
    color: $headerAndFooterTextColour;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: $headerAndFooterFont;
    width: 100%;
    margin-top: auto;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.footer_info {
    max-width: 400px;
}

.footer_title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 110px;
}

.footer_list {
    list-style: none;
    display: flex;
    @include flex-center(column);
    gap: 10px;
    margin-right: 200px;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.whatsapp_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: transform 0.3s ease-in-out;
}

.whatsapp_button img {
    width: 50px;
    height: 50px;
}

.whatsapp_button:hover {
    transform: scale(1.1);
}