@import 'variables';

/* Header */

header {
    background-color: $headerColour;
    padding: 10px;
    font-family: $headerAndFooterFont;
    width: 100%; 
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.logo {
    @include flex-center(column);

    img {
        width: 120px;
        height: auto;
        border-radius: 10px;
    }

    h1 {
        color: $headerAndFooterTextColour;
        font-size: 30px;
        margin-top: 5px;
    }
}

.perritoHeader {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 0vw;
    animation: moverIzquierdaDerecha 5s linear infinite;
    z-index: 0;
}

@keyframes moverIzquierdaDerecha {
    0% { transform: translateX(0vw); }
    100% { transform: translateX(100vw); }
}